body {
	font-family : "Open Sans", sans serif;
	color :#636363;
	text-align : center;
	background-color:#f4f4f4;
}

h3 {
text-transform : uppercase;
    padding-top: 50px;
    margin-bottom: 40px;
}

h2 {
font-weight :600;
}

a {
text-decoration : none;	
color : #4b4b4b;
text-transform : uppercase;
font-weight:700;
}

ul{
padding-left:0px
}

li {
background-color:white;
display: block;
margin-bottom: 5px;
padding-top :10px;
padding-bottom :10px;
}
.nav{
text-align:center;
}

#profile-photo{
width:85%;
display:block;
margin-left:auto;
margin-right:auto;
}

.intro {
margin-bottom :10px;
}

.portfolio {
margin-top:40px;
background-color:white;	
padding-bottom:50px;
}

.portfolio-photo {
width: 90%;
display:block;
margin-left:auto;
margin-right:auto;
}

.final-words{
display:block;
float:left;
margin-top:10px;
margin-bottom:0px;
padding-bottom:25px;
font-weight:700;
}

a.final-words{
float:right;
}
a.tablet {
visibility:hidden;
}

/*Media Queries Tablet------------------------------------ */
@media (min-width:768px) {
.intro {
overflow:auto
}


li{
display:inline;
padding-left:40px;
background-color:#f4f4f4;
}	

.nav {
margin-bottom:55px;
}

#profile-photo{
display:block;
float:right;
width:50%;
margin-bottom:40px;
}
	
.introduction {
display:block;
float:left;
width:50%;
text-align: left;
}

.portfolio {
clear:both;
overflow:auto;
}

.primary-col {
display:inline-block;
width:50%;
float : left;
}
.secondary-col {
display:inline-block;
width:50%;
float : right;
}

footer{
clear:both;
}

footer p {
padding-left:80px;
padding-right:80px;
}

p.final-words {
padding-left:35px;
}

a.final-words {
display:inline;
float:left;
margin-left: 40px;
padding-right:7px;
}

a.tablet {
visibility:visible;
}

.mobile {
	visibility:hidden;
}

}

/*Media Queries Desktop------------------------------------ */
@media (min-width:768px) {

.name	
	

}


